body {
    font-family: 'Inter', sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
    padding: 2rem;
}
.container {
    max-width: 1500px;
    margin: 2px;
}
.card {
    background-color: #161b22;
    border-radius: 0.75rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}
input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #0d1117;
    border: 1px solid #30363d;
    color: #c9d1d9; /* Corrected to a lighter color for user input */
    margin-bottom: 1rem;
}

/* New CSS rule for placeholders */
input::placeholder, textarea::placeholder {
  color: #8b949e; /* Light grey for the placeholder text */
  opacity: 1; /* Ensures the color is fully visible */
}

button {
    background-color: #58a6ff;
    color: #0d1117;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #79c0ff;
}
.delete-btn {
    background-color: #f85149;
}
.delete-btn:hover {
    background-color: #ff7b72;
}
.text-area-copy {
    background-color: #1f242d;
    border: 1px dashed #30363d;
    color: #c9d1d9;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: monospace;
    white-space: pre;
    overflow-x: auto;
    margin-top: 1rem;
}
/* Style the date input to match the other inputs */
input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
/* Style the calendar icon for consistency */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
/* Quill editor styling to match dark theme */
.ql-editor::before {
    color: #8b949e !important;
    margin-bottom: 2px;
}

.ql-toolbar.ql-snow {
    border: 1px solid #30363d !important;
    border-bottom: none !important;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #1f242d;
}
.ql-container.ql-snow {
    border: 1px solid #30363d !important;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #0d1117;
    color: #c9d1d9;
    min-height: 100px;
    margin-bottom: 2px;
}
.ql-container.ql-snow a {
    color: #ffffff;
}
.ql-editor {
    font-size: 1rem;
    color:#c9d1d9;
    margin: 2px;
    
}